.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 90px;
  color: #1E88E5;
}

.start {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  background-color: #1E88E5;
  padding: 40px;
  border-bottom: 8px solid #116FC2;
}

