$font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$primary-color: #1E88E5;
$second-color: #fff;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  font-family: $font-family;
  font-size: 90px;
  color: $primary-color
}

.start {
  font-family: $font-family;
  font-size: 15px;
  color: $second-color;
  background-color: $primary-color;
  padding: 40px;
  border-bottom: 8px solid $primary-color;
}

